<!DOCTYPE html>
<html>
  <head>
    <title>Codaisseurify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="jumbotron">
        <img src="http://res.cloudinary.com/fanka/image/upload/v1495811497/codaisseurify_brand_logo_uwvluu.png" alt="Logo Codaisseurify">
      </div>


     </header>
    <%= yield %>

  </body>
</html>
